body, html {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #f9f9f9;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    text-align: left;
}

body, html img {
    max-height: 300px;
    max-width: 100%;
}

header {
    width: 100%;
    background: firebrick;
}

    header img {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    header ul {
        padding-top: 0px;
        padding-bottom: 0px;
    }

.container {
    width: 95%;
    max-width: 1063.43px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    width: 100%;
    height: inherit;
    background: firebrick;
}

    nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        height: 2em;
        font-size: 1.2rem;
    }

    nav li {
        display: flex;
        align-items: center;        
        color: white;
        height: 100%;
    }

        nav li:hover {
            color: black;
            background-color: #f9f9f9;
        }

    nav:active,
    nav:link,
    nav:visited {
        color: white;
    }

    nav a {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0 2em 0 2em; /*zlava a aj zprava bude mat priestor 2em*/
        color: inherit;
        background: inherit;
        transition: background-color 0.5s ease-in-out;
        transition: color 0.5s ease-in-out;
    }

/* Styles pre main */

form {
    max-height: 100%;
}

/* Styles pre text stranky */
/*td.margin_left {
    float: left;
    margin-left: 50px;
}*/

thead {
    font-weight: bold;
}

td {
    padding-right: 25px;
}

ol.margin_left {
    float: left;
    margin-left: 20px;
}

p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.block_container {
    border-color: #dfdfdf;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.block_header {
    padding: 6px 10px;
    margin: 0;
    font-weight: 400;
    color: rgb(24, 88, 134); /*navy blue color*/
    background: #edf6fd; /*baby blue color*/
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #dfdfdf;   
}

.block_header_mid {
    padding: 6px 10px;
    margin: 0;
    font-weight: 400;
    color: rgb(24, 88, 134); /*navy blue color*/
    background: #edf6fd; /*baby blue color*/
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}

.block_body {
    padding: 6px 10px;
    margin: 0;
    background: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

    .block_body a {
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out;
    }

        .block_body a:link,
        .block_body a:visited, /*PORADIE MUSI BYT: NAJPRV ACTIVE LINK A POTOM HOVER!!!!!!!!*/
        .block_body a:active {
            color: black;
        }

        .block_body a:hover {
            color: firebrick;
        }

    .block_body input {
        display: inline-block;
        float: left;      
        
        font-size: 16px;
    }

    .block_body canvas {
        margin-top: 10px;
    }

    .block_body form {
        min-height: 25px;
    }

.code {
    padding: 2px;
    padding-left: 20px;
    border: 1px solid #dfdfdf;
    margin-top: 3px;
    margin-bottom: 3px;
    background: #f4f4f4;
    width: 33%;
}

.tabulka {
    padding: 40px;
    border: 1px solid black;
}

    .tabulka table {
        border-collapse: collapse;
        border-spacing: 0px;
        width: 100%;
        text-align: center;
    }

    .tabulka td {
        border: none;
        padding: 4px 0px 4px 0px;
        margin-left: auto;
        margin-right: auto;
    }

.validator {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    nav a {
        padding: 0 1em;
    }
}